$primary: purple;

.progression{
  background-color: #eee;
  text-align: center;
}
.progression-numbers-block {
  background-color: #f2f2f2;
  margin-top: 5px;
  input {
    max-width: 150px;
  }
  div {
    padding: 5px;
    display: inline-block;
  }
  .error {
    display: block;
    color: red;
    position: relative;
    height: 20px;
    padding: 0 0 40px 20px;
  }
}