<template>
    <div class="progression">
        <h1 class="control-label">Checking the type of geometric progression</h1>
        <label class="control-label">numbers list</label>
        <div v-for="(number, index) in numbers" class="progression-numbers-block">
            <div>
                <div class="col-lg-6 col-md-6">
                    <input type="number" v-model="numbers[index].value"
                           autofocus="autofocus" aria-required="true" class="form-control">
                </div>
                <div class="col-lg-4 col-md-4">
                    <button type="button" v-on:click="removeNumber(index)" class="btn btn-block left">
                        remove
                    </button>
                </div>
            </div>
            <span v-if="number.error" class="error">{{ number.error }}</span>
        </div>

        <div class="form-group col-center">
            <button type="button" v-on:click="addNewNumber()" class="btn btn-block">
                Add
            </button>
        </div>

        <div class="form-group col-center">
            <button class="btn btn-primary btn-block"
                    v-on:click="checkProgression">
                Check
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                numbers: [],
            }
        },
        mounted: function () {
            this.addNewNumber();
            this.addNewNumber();
        },
        methods: {
            addNewNumber: function () {
                let number = {
                    error: '',
                    value: '',
                };
                this.numbers.push(number);
            },
            removeNumber: function (index) {
                this.numbers.splice(index, 1);
            },
            validateNumbers: function () {
                let result = true;
                this.numbers.forEach(function (value, key) {
                    if (value.value === '') {
                        value.error = 'Не указано значение';
                        result = false;
                        return;
                    }
                    value.error = '';
                }, result);

                if (result) {
                    return true;
                }
                return false;
            },
            checkProgression() {
                if (!this.validateNumbers()) {
                    return;
                }

                axios({
                    method: 'post',
                    url: '/api/progression',
                    responseType: 'json',
                    data: {
                        numbers: this.numbers,
                    }
                }).then((response) => {
                    this.refreshCSRFToken(response.data.token);
                    if (response.data.result === 'success') {
                        alert(response.data.messages);
                    } else {
                        if (response.data.messages.numbers) {
                            alert(response.data.messages.numbers);
                        }
                    }
                })
            },
            refreshCSRFToken(token) {
                window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token;
            }
        }
    }
</script>